@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a class="inline-block px-4 py-2 bg-brand-blue text-white font-medium rounded-md hover:bg-blue-700 transition duration-300" asp-controller="Audit" asp-action="Index">Go to Audit Logs</a>
</div>
